In [6]:
#load our libraries
import pandas as pd
import numpy as np

In [19]:
#load our educational data
df1 = pd.read_excel('All_Countries_Edu_Data.xlsx')

In [20]:
df1

,Country,Year,ANER; Female,Above Proficiency;PISA 2000 for grade 15Y using MPL Level 2 for math,Above Proficiency;TIMSS 2003 for grade 4 using MPL Low (400 points) for math,Above Proficiency;TIMSS 2007 for grade 4 using MPL Low (400 points) for math,Above Proficiency;TIMSS 2019 for grade 4 using MPL Low (400 points) for math,"Adjusted net attendance rate, one year before the official primary entry age, adjusted gender parity index (GPIA)","Adjusted net enrolment rate, one year before the official primary entry age, adjusted gender parity index (GPIA)",Administration of a nationally representative learning assessment in Grade 2 or 3 in mathematics (number),...,"Gross enrolment ratio for tertiary education, adjusted gender parity index (GPIA)","Gross enrolment ratio, lower secondary, gender parity index (GPI)","Gross enrolment ratio, pre-primary, adjusted gender parity index (GPIA)","Gross enrolment ratio, primary and secondary, gender parity index (GPI)","Gross enrolment ratio, primary to tertiary, gender parity index (GPI)","Gross enrolment ratio, primary, gender parity index (GPI)","Gross enrolment ratio, secondary, gender parity index (GPI)","Gross enrolment ratio, upper secondary, gender parity index (GPI)","Gross graduation ratio from first degree programmes (ISCED 6 and 7) in tertiary education, gender parity index (GPI)","Labor force with advanced education, female (% of female labor force)"
0,Afghanistan,1960,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,Afghanistan,1961,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,Afghanistan,1962,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,Afghanistan,1963,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Afghanistan,1964,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13666,Zimbabwe,2018,..,..,..,..,..,..,..,1,...,..,..,..,..,..,..,..,..,..,..
13667,Zimbabwe,2019,..,..,..,..,..,0.9735,..,1,...,..,..,..,..,..,..,..,..,..,..
13668,Zimbabwe,2020,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
13669,Zimbabwe,2021,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
13670,Zimbabwe,2022,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [21]:
#load the employment data
df2 = pd.read_excel('Employment-data-final-all-countires.xlsx')

In [23]:
df2

,Country,Year,Adolescent fertility rate (births per 1000 women ages 15-19),Age dependency ratio (% of working-age population),Agriculture value added (% of GDP),Air transport registered carrier departures worldwide,Consumer price index (2010 = 100),Contributing family workers female (% of female employment) (modeled ILO estimate),Contributing family workers total (% of total employment) (modeled ILO estimate),Domestic credit provided by financial sector (% of GDP),...,Unemployment youth total (% of total labor force ages 15-24) (modeled ILO estimate),Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,Afghanistan,1990.0,162.8354,101.018260,NaN,5300.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1991.0,163.3822,100.965647,NaN,5300.0,NaN,49.423000,24.333000,NaN,...,25.589001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1992.0,163.929,100.870232,NaN,5300.0,NaN,51.146999,26.065001,NaN,...,22.469000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1993.0,164.1888,100.902318,NaN,5100.0,NaN,60.905998,29.160000,NaN,...,26.315001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1994.0,164.4486,100.887271,NaN,7000.0,NaN,67.740997,33.761002,NaN,...,26.173000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6530,Zimbabwe,2013.0,111.0298,79.876624,8.827171,27684.0,109.079488,11.688000,9.493000,NaN,...,8.315000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6531,Zimbabwe,2014.0,109.2926,79.717509,10.728949,3730.0,108.847215,10.085000,8.385000,NaN,...,8.246000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6532,Zimbabwe,2015.0,107.5554,79.514364,10.143072,4145.0,106.224541,9.885000,8.143000,NaN,...,8.208000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6533,Zimbabwe,2016.0,105.8182,79.195304,9.735282,4231.0,104.560626,9.983000,8.170000,NaN,...,8.185000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6534,NaN,NaN,Adolescent fertility rate (births per 1000 wom...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#load in the socioeconomic data
df3 = pd.read_excel('DataForTable2.1.xlsx')

In [33]:
df3

,Country,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.164055,0.881686,0.414297,0.258195
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.187297,0.850035,0.481421,0.237092
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.117861,0.706766,0.516907,0.275324
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.160098,0.731109,0.479835,0.267175
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.234157,0.775620,0.613513,0.267919
...,...,...,...,...,...,...,...,...,...,...,...
2358,Zimbabwe,2019,2.693523,7.697755,0.759162,53.099998,0.631908,-0.050874,0.830652,0.658434,0.235354
2359,Zimbabwe,2020,3.159802,7.596050,0.717243,53.575001,0.643303,0.002848,0.788523,0.660658,0.345736
2360,Zimbabwe,2021,3.154578,7.656878,0.685151,54.049999,0.667636,-0.079007,0.756945,0.609917,0.241682
2361,Zimbabwe,2022,3.296220,7.670073,0.666172,54.525002,0.651987,-0.072935,0.752632,0.640609,0.191350
2362,Zimbabwe,2023,3.572386,7.678590,0.693817,55.000000,0.734613,-0.068837,0.757494,0.609752,0.178953

In [53]:
#load in the health data
df4 = pd.read_csv('pivoted_data.csv')

In [54]:
df4

,Country,Year,AIDS estimated deaths (UNAIDS estimates),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Age dependency ratio, old","Age population, age 01, female, interpolated","Age population, age 02, female, interpolated","Age population, age 05, female, interpolated","Age population, age 07, female, interpolated",...,"Hospital beds (per 1,000 people)",Number of neonatal deaths,"Physicians (per 1,000 people)","Population ages 15-19, male (% of male population)","Population ages 35-39, male","Population ages 55-59, male (% of male population)","Population ages 65 and above, male (% of male population)",Rural population growth (annual %),"School enrollment, secondary, female (% gross)",Sex ratio at birth (male births per female births)
0,Afghanistan,1960,..,138.876,80.05111405,5.100901063,151954.5,139152,118215.5,109646.5,...,0.170626998,..,0.035,10.25241477,261456,2.666400984,2.949109364,..,..,1.049
1,Afghanistan,1961,..,138.717,80.22234036,5.078087919,156103.5,143061.5,121732,112729.5,...,..,..,..,10.29158306,266698,2.633083493,2.921745363,1.616510333,..,1.049
2,Afghanistan,1962,..,138.494,80.40194284,5.049558481,160463.5,147205,125329.5,115991.5,...,..,..,..,10.31092063,272509,2.592152305,2.889481213,1.694596635,..,1.049
3,Afghanistan,1963,..,138.173,80.71531767,5.022020416,164995,151511,129035,119520,...,..,..,..,10.26381199,278443,2.54891554,2.855172478,1.748878535,..,1.049
4,Afghanistan,1964,..,140.107,81.21955708,4.99971913,169777.5,155980.5,132905.5,123099,...,..,..,..,10.16268459,283951,2.512455159,2.821868064,1.797359522,..,1.049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16753,Zimbabwe,2018,25000,98.507,82.12334676,5.99798181,227414,225509,226166.5,218493,...,..,12874,0.201,11.83691369,429834,1.591278016,2.877221678,2.061844399,..,1.023
16754,Zimbabwe,2019,23000,97.354,81.20785821,6.062823318,228370.5,225529.5,226420,223049,...,..,12638,..,11.78254614,450009,1.567251999,2.902686736,1.987780433,..,1.023
16755,Zimbabwe,2020,22000,96.18,80.28525486,6.086902797,229633.5,226649,224351.5,225549.5,...,..,12421,0.189,11.66218553,462417,1.555282142,2.90215477,1.983890973,..,1.024
16756,Zimbabwe,2021,20000,94.312,79.39357693,6.033620528,230625,228181,223099,225792.5,...,..,12211,..,11.51292593,463351,1.549076013,2.856108691,1.955651308,..,1.024
16757,Zimbabwe,2022,..,..,78.43075966,5.927193899,231710.5,229279,223338.5,223711,...,..,..,..,11.37812538,457281,1.55429787,2.783890395,1.888043327,..,..

In [57]:
#merge dataframe one and two
combined_df2 = pd.merge(df1, df2, how='outer', on=['Country', 'Year'])

In [58]:
combined_df2

,Country,Year,ANER; Female,Above Proficiency;PISA 2000 for grade 15Y using MPL Level 2 for math,Above Proficiency;TIMSS 2003 for grade 4 using MPL Low (400 points) for math,Above Proficiency;TIMSS 2007 for grade 4 using MPL Low (400 points) for math,Above Proficiency;TIMSS 2019 for grade 4 using MPL Low (400 points) for math,"Adjusted net attendance rate, one year before the official primary entry age, adjusted gender parity index (GPIA)","Adjusted net enrolment rate, one year before the official primary entry age, adjusted gender parity index (GPIA)",Administration of a nationally representative learning assessment in Grade 2 or 3 in mathematics (number),...,Unemployment youth total (% of total labor force ages 15-24) (modeled ILO estimate),Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,Afghanistan,1960.0,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1961.0,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1962.0,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1963.0,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1964.0,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14478,World,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.128523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14479,World,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.911342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14480,World,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.147339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14481,World,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.398675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
#add dataframe 3
combined_df3 = pd.merge(combined_df2, df3, how='outer', on=['Country', 'Year'])

In [60]:
#add dataframe 4
combined_df4 = pd.merge(combined_df3, df4, how='outer', on=['Country', 'Year'])

In [61]:
combined_df4

,Country,Year,ANER; Female,Above Proficiency;PISA 2000 for grade 15Y using MPL Level 2 for math,Above Proficiency;TIMSS 2003 for grade 4 using MPL Low (400 points) for math,Above Proficiency;TIMSS 2007 for grade 4 using MPL Low (400 points) for math,Above Proficiency;TIMSS 2019 for grade 4 using MPL Low (400 points) for math,"Adjusted net attendance rate, one year before the official primary entry age, adjusted gender parity index (GPIA)","Adjusted net enrolment rate, one year before the official primary entry age, adjusted gender parity index (GPIA)",Administration of a nationally representative learning assessment in Grade 2 or 3 in mathematics (number),...,"Hospital beds (per 1,000 people)",Number of neonatal deaths,"Physicians (per 1,000 people)","Population ages 15-19, male (% of male population)","Population ages 35-39, male","Population ages 55-59, male (% of male population)","Population ages 65 and above, male (% of male population)",Rural population growth (annual %),"School enrollment, secondary, female (% gross)",Sex ratio at birth (male births per female births)
0,Afghanistan,1960.0,..,..,..,..,..,..,..,..,...,0.170626998,..,0.035,10.25241477,261456,2.666400984,2.949109364,..,..,1.049
1,Afghanistan,1961.0,..,..,..,..,..,..,..,..,...,..,..,..,10.29158306,266698,2.633083493,2.921745363,1.616510333,..,1.049
2,Afghanistan,1962.0,..,..,..,..,..,..,..,..,...,..,..,..,10.31092063,272509,2.592152305,2.889481213,1.694596635,..,1.049
3,Afghanistan,1963.0,..,..,..,..,..,..,..,..,...,..,..,..,10.26381199,278443,2.54891554,2.855172478,1.748878535,..,1.049
4,Afghanistan,1964.0,..,..,..,..,..,..,..,..,...,..,..,..,10.16268459,283951,2.512455159,2.821868064,1.797359522,..,1.049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17337,World,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,..,2562331,..,8.172416713,268786441,4.538230891,7.8904475,0.106249212,74.87740326,1.063471262
17338,World,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,..,2483675,1.700601097,8.141647114,273874688,4.685267192,8.10173908,0.064741596,75.20024109,1.062069515
17339,World,2020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,..,2405641,..,8.114514785,278640311,4.827176831,8.306928302,0.025670262,75.65126801,1.059485078
17340,World,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,..,2344618,..,8.098783577,283340721,4.958709453,8.472961775,-0.081092632,76.24465179,1.057930874
17341,World,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,..,..,..,8.105406789,287881346,5.032990633,8.639961824,-0.184019864,76.75183868,..

In [63]:
combined_df4['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe',
       'Arab World', 'Czech Republic', 'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Korea, Dem. People’s Rep.', 'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Macedonia, FYR', 'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'namibia', 'nauru', 'North America',
       'OECD members', 'South Asia', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (excluding high income)', 'Turkey',
       'Upper middle income', 'World', nan, 'Congo (Brazzaville)',
       'Congo (Kinshasa)', 'Egypt', 'Gambia', 'Hong Kong S.A.R. of China',
       'Iran', 'Ivory Coast', 'Kyrgyzstan', 'Laos', 'Russia', 'Slovakia',
       'Somaliland region', 'South Korea', 'State of Palestine', 'Syria',
       'Taiwan Province of China', 'Türkiye', 'Venezuela', 'Yemen',
       'Africa Eastern and Southern', 'Africa Western and Central',
       'Caribbean small states', 'Central Europe and the Baltics',
       'Early-demographic dividend',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Fragile and conflict affected situations', 'IBRD only',
       'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total',
       'Late-demographic dividend',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Not classified', 'Other small states',
       'Pacific island small states', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Small states',
       'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Viet Nam'],
      dtype=object)

In [71]:
#save our combined dataframe as a csv
output_file_path = 'Only_X_Columns.xlsx'

#pivoted_df.to_csv(output_file_path, index=True)
combined_df4.to_excel(output_file_path, index=True)

# Displaying the path to the new CSV file
output_file_path

'Only_X_Columns.xlsx'

In [66]:
#read in our target variable, debt percent of gdp
df5 = pd.read_csv('sorted_debt_data.csv')
df5

           Country  Year Debt Percent of GDP
0      Afghanistan  1960             no data
1      Afghanistan  1961             no data
2      Afghanistan  1962             no data
3      Afghanistan  1963             no data
4      Afghanistan  1964             no data
...            ...   ...                 ...
10894     Zimbabwe  2018         51.00144461
10895     Zimbabwe  2019         82.33805679
10896     Zimbabwe  2020         84.44771597
10897     Zimbabwe  2021         59.80656696
10898     Zimbabwe  2022          92.8237321

[10899 rows x 3 columns]

In [68]:
#add it to our 4 combined dataframes
combined_df5 = pd.merge(df5, combined_df4, how='left', on=['Country', 'Year'])

In [69]:
combined_df5

,Country,Year,Debt Percent of GDP,ANER; Female,Above Proficiency;PISA 2000 for grade 15Y using MPL Level 2 for math,Above Proficiency;TIMSS 2003 for grade 4 using MPL Low (400 points) for math,Above Proficiency;TIMSS 2007 for grade 4 using MPL Low (400 points) for math,Above Proficiency;TIMSS 2019 for grade 4 using MPL Low (400 points) for math,"Adjusted net attendance rate, one year before the official primary entry age, adjusted gender parity index (GPIA)","Adjusted net enrolment rate, one year before the official primary entry age, adjusted gender parity index (GPIA)",...,"Hospital beds (per 1,000 people)",Number of neonatal deaths,"Physicians (per 1,000 people)","Population ages 15-19, male (% of male population)","Population ages 35-39, male","Population ages 55-59, male (% of male population)","Population ages 65 and above, male (% of male population)",Rural population growth (annual %),"School enrollment, secondary, female (% gross)",Sex ratio at birth (male births per female births)
0,Afghanistan,1960,no data,..,..,..,..,..,..,..,...,0.170626998,..,0.035,10.25241477,261456,2.666400984,2.949109364,..,..,1.049
1,Afghanistan,1961,no data,..,..,..,..,..,..,..,...,..,..,..,10.29158306,266698,2.633083493,2.921745363,1.616510333,..,1.049
2,Afghanistan,1962,no data,..,..,..,..,..,..,..,...,..,..,..,10.31092063,272509,2.592152305,2.889481213,1.694596635,..,1.049
3,Afghanistan,1963,no data,..,..,..,..,..,..,..,...,..,..,..,10.26381199,278443,2.54891554,2.855172478,1.748878535,..,1.049
4,Afghanistan,1964,no data,..,..,..,..,..,..,..,...,..,..,..,10.16268459,283951,2.512455159,2.821868064,1.797359522,..,1.049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10894,Zimbabwe,2018,51.00144461,..,..,..,..,..,..,..,...,..,12874,0.201,11.83691369,429834,1.591278016,2.877221678,2.061844399,..,1.023
10895,Zimbabwe,2019,82.33805679,..,..,..,..,..,0.9735,..,...,..,12638,..,11.78254614,450009,1.567251999,2.902686736,1.987780433,..,1.023
10896,Zimbabwe,2020,84.44771597,..,..,..,..,..,..,..,...,..,12421,0.189,11.66218553,462417,1.555282142,2.90215477,1.983890973,..,1.024
10897,Zimbabwe,2021,59.80656696,..,..,..,..,..,..,..,...,..,12211,..,11.51292593,463351,1.549076013,2.856108691,1.955651308,..,1.024
10898,Zimbabwe,2022,92.8237321,..,..,..,..,..,..,..,...,..,..,..,11.37812538,457281,1.55429787,2.783890395,1.888043327,..,..

In [70]:
#this is our final data that contains all our feature variables, and our target variable.
output_file_path = 'FFFfffinal_Data.xlsx'

#pivoted_df.to_csv(output_file_path, index=True)
combined_df5.to_excel(output_file_path, index=True)

# Displaying the path to the new CSV file
output_file_path

'FFFfffinal_Data.xlsx'